@{
    ViewData["Title"] = "History Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Bowlingen har sitt ursprung i kägelspelet som fördes till USA med invandrare från Nederländerna och Tyskland. Spel med tio käglor ställda i trekant, på engelska "ten pin bowling" förekom åtminstone redan på 1820-talet även om "nine pin bowling" med tio käglor ställda i fyrkant förblev den vanligaste typen. På grund av utbredd vadhållning förbjöds bowling med tio käglor i Connecticut. Det innebar att den tillåtna formen med nio käglor i stället drog till sig popularitet och på 1850-talet började det konstrueras inomhusbanor. Man gjorde 1875 ett första försök att standardisera reglerna men det dröjde till 1895 American Bowling Congress (ABC) bildades innan spelet slutgiltigt fick fasta regler.[1]

        Bowlingens popularitet har sedan fortsatt att öka, särskilt sedan automatiska kägelresningsmaskiner infördes på 1950-talet.[1]

        Det Amerikanska bowlingförbundet bildades 1901[2] och 1926 International Bowling Association (IBA). 1923-1936 arrangerades fem VM-turneringar. IBA ersattes som internationellt organ för bowlingen 1952 av Fédération Internationale des Quilleurs FIQ, och i dess regi anordnades ett första VM 1956, från 1963 har VM-turneringar hållits vart femte år. 1962 anordnades det första Europamästerskapet, de hålls sedan 1965 vart fjärde år.[1]

        1958 bildades Professional Bowlers Association of America (PBA) vilka tillsammans med ABC organiserar herrbowlingen i USA. Damernas professionella bowling organiseras i stället av Womens Professional Bowlers Association of America (WPBA).[1]
        
    </p>
</div>
