@model WebsiteSlutuppgift.Models.ViewModels.CreateBookingTableViewModel

<div class="text-center Background-Color col-md-4 minspecialform">
    <h1 class="text-center text-danger Background-Color">Please fill in the fields below</h1>
    <div class="text-center text-danger">
        <form asp-action="Create" method="post" class="text-center">
            <div class="form-group text-center">
                <label class="control-label">Name</label>
                <input class="form-control" asp-for="BookingTable.TableBooker" />
                <span asp-validation-for="BookingTable.TableBooker" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Lane</label>
                <select class="form-control" asp-for="BookingTable.TableId"
                    asp-items="@(new SelectList(Model.Tables, "Id","Name"))"><!--Dropdownmeny av alla bord som finns. två värden. Id och visningsnamn.-->
                    <option>Select track</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">From</label>
                <input class="form-control" asp-for="BookingTable.From" />
                <span asp-validation-for="BookingTable.From" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">To</label>
                <input class="form-control" asp-for="BookingTable.To" />
                <span asp-validation-for="BookingTable.To" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index">Back to List</a>
                <input class="btn btn-primary" type="submit" value="Reserve" />
            </div>

        </form>
    </div>
</div>



@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
