@model WebsiteSlutuppgift.Models.ViewModels.EditBookingViewModel

<h1>Ändra bokning</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <input hidden asp-for="Booking.Id" />
            <div class="form-group">
                <label class="control-label">Namn</label>
                <input class="form-control" asp-for="Booking.Booker" />
            </div>
            <div class="form-group">
                <label class="control-label">Bana</label>
                <select class="form-control" asp-for="Booking.TrackId"
                        asp-items="@(new SelectList(Model.Tracks, "Id","Name"))">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Från</label>
                <input class="form-control" asp-for="Booking.From" />
            </div>
            <div class="form-group">
                <label class="control-label">Till</label>
                <input class="form-control" asp-for="Booking.To" />
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Spara" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tillbaka till listan</a>
</div>
