/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #e20001;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height KOLLA UPP VARFÖR DEN INTE ÄNDRAR HUR DET SER UT I FONT-FAMILY*/  
  margin-bottom: 60px;
  font-family: "Montserrat", sans-serif; 
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.Background-Color {
    background-color: #11050c;
}


.wrapper {
    background-image: url(https://lh3.googleusercontent.com/proxy/xu4ZzDNjkXkt_ovqdInroKQgOwQc_vG2_FpplTV13clBjqErA76ngFofuQCwl32vQSzM4w9YadfIO-bEpQr_GzGGGOCz1EFFBUCLLGds-2p4RDYubzBpV6-N6yYJWX7Cz29iVflF);
    background-position: center;
    background-size: 100%;
}

.minspecialform {
    width: 250px;
    margin: auto;
    position: relative;
}

.animatedgif {
    height: 80px;
    width: 200px;
}




