

        <!--Header för får sida, layouten, detta kommer vara i vår grid, som ska uppta ett viss segment av det användaren ser och hur vår kod är stukturerad här inne, enligt praxxis-->
<div class="grid-container">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />


    <div class="header">

        <h1>
            Hungry Zombie
        </h1>
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/34146612-c9b0-4525-8b1d-b25be1ebe3d3/d9ed69n-8efaf627-8cbb-43f8-ab90-a1212380a1d7.jpg/v1/fill/w_1280,h_854,q_75,strp/zombie_hungry____zombie_coming_for_your_brain____by_stevendrawsthings_d9ed69n-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD04NTQiLCJwYXRoIjoiXC9mXC8zNDE0NjYxMi1jOWIwLTQ1MjUtOGIxZC1iMjViZTFlYmUzZDNcL2Q5ZWQ2OW4tOGVmYWY2MjctOGNiYi00M2Y4LWFiOTAtYTEyMTIzODBhMWQ3LmpwZyIsIndpZHRoIjoiPD0xMjgwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.nV-hp4JF90xAQb7VRZgYWz1VckB6gzffO8wIgBM24qA" class="img-responsive" />
    </div>

    <!--Body för vår sida, layouten, detta kommer vara i vår grid, som ska uppta ett viss segment av det användaren ser och hur vår kod är stukturerad här inne, enligt praxxis-->

    <div class="body">
        <p class="genre-text">Very Hungry</p>
        <div class="hej">
            <p>
                Zombie (inlånat sedan 1965 från engelska, från haitisk kreols zonbi med liknande betydelse, och kongolesiskans zumbi 'lyckofetisch')[1] är i främst den karibiska versionen av voodoo en människa vars sinne behärskas av en annan eller vars viljeförmåga helt försvunnit, alternativt en död människa vars kropp återfått livet enbart i så måtto att den kan röra sig och eventuellt utföra en mästares order. Det finns mycket få vetenskapliga belägg på verkliga zombier.
            </p>
        </div>
        <h2>

            ZombieKing
        </h2>


        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0a704cbe-9db7-437f-bd4b-a25e761e1352/dc69pgp-74368f2d-242d-44dc-afab-acc83e5665d6.jpg/v1/fill/w_801,h_998,q_70,strp/zombie_king_by_reddnekk_dc69pgp-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0xMjc2IiwicGF0aCI6IlwvZlwvMGE3MDRjYmUtOWRiNy00MzdmLWJkNGItYTI1ZTc2MWUxMzUyXC9kYzY5cGdwLTc0MzY4ZjJkLTI0MmQtNDRkYy1hZmFiLWFjYzgzZTU2NjVkNi5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.pPJD1TpFtBEaS-_ayr0o6qxeviVUAY8YWTokdHt6Pnk" />
        <p class="genre-text" id="ballers-genre-text">ZombieKing</p>

        <div class="hej">
            <p>
                Samuel Peters (Edward Furlong), once an ordinary man, dabbles in the laws of voodoo to bring his wife back from the grave. He soon encounters the god of malevolence, Kalfu (Corey Feldman), and makes a pact with him to destroy the underworld and bring chaos to earth. In return, he will become the Zombie King and walk the earth for eternity with his late wife. But as the growing horde of zombies begins to wipe out a countryside town, the government creates a perimeter around the town and employs a shoot-on-sight policy. Trapped within the town, the locals, an unlikely bunch of misfits, must fight for their lives and unite in order to survive.
            </p>

            <h2 id="baller-genre-text"><a href="https://en.wikipedia.org/wiki/The_Zombie_King" target="_blank">The real ZombieKing is here!</a></h2>
            <iframe id="test" width="823" height="561" src="https://www.youtube.com/embed/CMNry4PE93Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

    </div>
    <div class="banner">
        <!--BANNER SEKTIONEN
        HÄR KOMMER BANNERN, TILL VÄNSTRA SIDAN-->
        <a href="https://en.wikipedia.org/wiki/The_Zombie_King" target="_blank"></a>
    </div>

    <div class="footer">
        <footer>
            <h2>HEJ HÄR KOMMER FOOTERN VARA</h2>
            <p>
                HEEEEEEEEEEEEEEEEEJJJJJJJJJ
                VAAAAAAAAAAAAAARFÖÖÖÖÖÖÖR
                FUNNNNNNNNNKAAAAAAAAAAARRR
                DUUUUUUUUUUUUUUUUUUUUUUUUU
                INNNNNNNNNNNNNNNTTTEEEEEEE
            </p>
        </footer>
    </div><!--Deklarerar vi footern korrekt???? FOOTER SEKTIONEN     NEEEJJJHHH-->
</div>


