<!--Det som är under här, är indelat efter vår layout, är inte 100% klart, men man kan lätt manipulera strukturen på sidan nu-->
<div class="grid-container">
    <div class="header"><p>HEJ</p></div>
    <div class="body"><p>SKIT</p></div>
    <div class="banner"><p>LIV</p></div>
    <div class="footer"><p>FUNKA DÅÅÅÅÅÅÅÅÅÅÅÅÅÅÅÅÅÅ</p></div>
</div>
S