@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-danger Background-Color">
    
    <table class="table text-danger">
        <thead>
            <tr>
                <th>
                    Adress: Hemsidor Services Sweden AB
                            Björnstigen 87 
                            170 73 Uppsala
                </th>
                <th>
                    Telefonnummer: 018-608412 
                </th>
                <th>
                    Epost: WebSiteSlutuppgift@gmail.com
                </th>
            </tr>
        </thead>
    </table>

</div>

