@{
    ViewData["Title"] = "History Page";
}

<div class="text-center text-danger Background-Color">
    <h1 class="display-4">Learn how to bowl!</h1>
    <iframe width="300" height="220"
            src="https://www.youtube.com/embed/VSt3gl1MdKU">
    </iframe>
    <iframe width="300" height="220"
            src="https://www.youtube.com/embed/EYdmpj94DbU">
    </iframe>
  

</div>
