<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>ZombieKing</title>
    <link rel="stylesheet" type="text/css" href="~/site.css">
    <!--Tja, <link rel="stylesheet" type="text/css" href="~/site.css"> detta anropar och laddar ifrån wwwroot och tillåter oss att använda site.css filen för CSS  i vår applikation, href är "navigatorn" i rooten-->
    </head>
    <body>
        <header>
            <h1></h1>

        </header>
        <div>
            @RenderBody()
        </div>
    </body>

    </html>

