<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ZombieKingX0rs</title>
    <link rel="stylesheet" type="text/css" href="~/site.css">
</head>
<body>
    <header>
        <h1>ZombieKing.</h1>
        
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
